.card {
  width: 16rem;
  box-shadow: 2px 2px grey;
}

.card-img-top {
  height: 20rem;
}
/* .size-adjust {
  height: 10rem;
} */

.overflow-hidden {
  height: 1rem;
}

/* .positionSet {
  position: absolute;
  bottom: 0px;
} */

.flex-wrap {
  height: 90vh;
  overflow-y: scroll;
}

.flex-wrap::-webkit-scrollbar {
  background: transparent; /* make scrollbar transparent */
}
